<!DOCTYPE html>
<html>

  <head>
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	</head>

  <body >

		<div class="header">
			<div class="header-wrapper">
				<div class="header-container">
					<a href="home.html" id="logo"><img src="images/logo.png" alt="logo"></a>
					<ul class="nav-title">
						<li class="tweetapp-title"> <a href="index.html">TweetApp</a></li>
					</ul>
					<ul class="navigation">
						<li class="selected">
							<a href="index.html">Home</a>
						</li>
						<li> <a href="search-topic.html">Trends by Topic</a></li>
						<li> <a href="seach-location.html">Trends by Location</a></li>
					</ul>
					<ul class="nav-logout">
						<li> <a href="signin.html">Log out</a></li>
					</ul>
				</div>
			</div>
		</div>

    <div class="container-fluid" ng-controller="DataController">

  		<div class="home-content">
  			<h1>WHAT IN THE WORLD IS TRENDING?</h1>

  				<div class="mx-auto" id="chart_div"></div>


    				<div class="row">
    					<div class="col-md-6 px-1">
    						<h3>Top 50 Topics</h3>
                <div class="row">
                  <div class="col-lg-4 col-md-6 text-center" ng-repeat="topic in top50topics">
                    <a ng-class="{isBlack: $index % 2 == 1}" href="#">{{topic.name}}</a>
                  </div>
                </div>
              </div>
    					<div class="col-md-6 px-1">
    						<h3>Tweets</h3>
                <div class="row">
                  <div class="col-6" ng-repeat="tweet in topTweets">
                    <div ng-bind-html="tweet">
                      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                  </div>
                </div>
    					</div>
  					</div>
  			</div>
  		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/dataFactory.js"></script>
    <script src="js/controllers/dataController.js"></script>
  </body>
</html>
