<!DOCTYPE html>
<html>
  <head>
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body ng-controller="DataController">

    <div class="header">
			<div class="header-wrapper">
				<div class="header-container">
					<a href="/" id="logo"><img src="images/blacklogo-sm.png" alt="logo"></a>
					<ul class="nav-title">
						<li class="tweetapp-title"> <a href="/">TweetApp</a></li>
					</ul>
					<ul class="navigation">
						<li><a href="/">Home</a></li>
						<li class="selected"><a href="searchbytopic">Search by Topic</a></li>
						<li>
							<a href="searchbylocation">Trends by Location</a>
						</li>
					</ul>
					<ul class="nav-logout">
						<li> <a href="/users" ng-click="logout()">Log out</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="search-topic-content">
			<div class="searchbar-container">
				<div class="active-cyan-3 active-cyan-4 mb-4">
					<input class="form-control" type="text" placeholder="Search by Topic" aria-label="Search">
				</div>
			</div>
		</div>

    <div class="container">
      <div class="row">
        <div class="col-4" ng-repeat="tweet in tweetsByTopic">
          {{tweet}}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/dataFactory.js"></script>
    <script src="js/controllers/dataController.js"></script>
  </body>
</html>
