<!DOCTYPE html>
<html ng-app="topicApp">
  <head>
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/tweetByTopicFactory.js"></script>
    <script src="js/controllers/tweetByTopicController.js"></script>
  </head>

  <body ng-controller="TweetByTopicController">

    <div class="header">
			<div class="header-wrapper">
				<div class="header-container">
					<a href="/" id="logo"><img src="images/blacklogo-sm.png" alt="logo"></a>
					<ul class="nav-title">
						<li class="tweetapp-title"> <a href="/">TweetApp</a></li>
					</ul>
					<ul class="navigation">
						<li><a href="/">Home</a></li>
						<li class="selected"><a href="searchbytopic">Search by Topic</a></li>
						<li>
							<a href="searchbylocation">Trends by Location</a>
						</li>
					</ul>
					<ul class="nav-logout">
						<li> <a href="javascript:;" ng-click="logout()">Log out</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="search-topic-content">
			<div class="searchbar-container">
				<div class="active-cyan-3 active-cyan-4 mb-4">
					<form action="">
						<input ng-model="topicQuery" class="form-control" type="text" placeholder="Search by Topic" aria-label="Search">
						<input type="submit" style="display: none" ng-click="searchForTopic()"/>
					</form>
				</div>
			</div>
			<div>
				<h3 class="text-center" ng-if="currentTopic">Showing results for: "{{currentTopic}}"</h3>
				<div class="text-center font-weight-bold mt-5" style="color: red;" ng-if="currentTopic && !tweetsByTopic">No results for "{{currentTopic}}" please try again</div>
				<div ng-if="tweetsByTopic" class="row mt-3 justify-content-md-center">

					<div class="tweet-box col-5" ng-repeat="tweet in tweetsByTopic">
						<div class="row" style="height:65px;">
							<div class="col-2 text-center" style="padding:12px;">
								<img class="user-image" src="{{tweet.user.profile_image_url}}" alt="profile-picture">
							</div>
							<div class="col-lg" style="padding:10px;">
								<p class="user-info">Followers: <span style="font-weight:normal">{{tweet.user.followers_count}}</span></p>
								<p class="user-info">Friends: <span style="font-weight:normal">{{tweet.user.friends_count}}</span></p>
							</div>
						</div>
						<p class="user-info">{{tweet.user.name}} <span class="user-display-name">@{{tweet.user.screen_name}}</span></p>
						<div class="row single-tweet">
							<div class="col-12">
								<a class="tweet-link" href="{{tweet.link}}">{{tweet.full_text}}</a>
								<p class="tweet-date">{{tweet.created_at}}</p>
							</div>
						</div>
						<div class="row single-tweet" ng-repeat="extraTweet in tweet.extraTweets">
							<div class="col-12">
								<a class="tweet-link" href="{{extraTweet.link}}">{{extraTweet.full_text}}</a>
								<p class="tweet-date">{{extraTweet.created_at}}</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

  </body>
</html>
