<!DOCTYPE html>
<html>
  <head>
		<title>TweetApp</title>
		<link rel="icon" href="images/favicon.png">
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/tweetByLocationFactory.js"></script>
    <script src="js/controllers/tweetByLocationController.js"></script>
  </head>

  <body ng-controller="TweetByLocationController">

		<div class="header">
			<div class="header-wrapper">
				<div class="header-container">
					<a href="/" id="logo"><img src="images/blacklogo-sm.png" alt="logo"></a>
					<ul class="nav-title">
						<li class="tweetapp-title"> <a href="/">TweetApp</a></li>
					</ul>
					<ul class="navigation">
						<li><a href="/">Home</a></li>
						<li><a href="searchbytopic">Search by Topic</a></li>
						<li class="selected"><a href="searchbylocation">Trends by Location</a></li>
					</ul>
					<ul class="nav-logout">
						<li> <a href="javascript:;" ng-click="logout()">Log out</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="search-location-content">
			<div class="searchbar-container">
				<div class="active-cyan-3 active-cyan-4 mb-4">
					<form action="">
						<input ng-model="locationQuery" class="form-control" type="text" placeholder="Search by Location" aria-label="Search">
						<input type="submit" style="display: none" ng-click="searchForLocation()"/>
					</form>
					<!-- Default dropright button -->
					<div class="btn-group dropright">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="ng-cloak">{{ result_type }}</span>
						</button>
						<div class="dropdown-menu">
								<a class="dropdown-item" href="javascript:;" ng-click="setResultType('popular')">Popular</a>
								<a class="dropdown-item" href="javascript:;" ng-click="setResultType('recent')">Recent</a>
								<a class="dropdown-item" href="javascript:;" ng-click="setResultType('mixed')">Mixed</a>
							<!-- Dropdown menu links -->
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<h3 class="text-center ng-cloak" ng-if="currentLocation && trendsByLocation">Showing results for: "{{currentLocation}}"</h3>
				<p class="text-center mt-2 mb-0 ng-cloak" ng-if="currentLocation && trendsByLocation">Not what you were expecting? Try to be more specific</p>
				<h3 class="text-center font-weight-bold mt-5 ng-cloak" style="color: red;" ng-if="noResults">No results for "{{currentLocation}}" please try again</h3>
			</div>
			<div class="container-fluid">
					<div id="chart_div"></div>
			</div>
			<div class="container" style="margin-bottom:20px;">
				<h4 ng-if="trendsByLocation" class="text-center mt-3 ng-cloak">Trends</h4>
				<div ng-if="trendsByLocation" class="row mt-2 ng-cloak">
					<div class="col-4 justify-contents-center topic-tile" ng-class="{isBlack: $index % 2 == 1}" ng-repeat="trend in trendsByLocation">
						<a class="topic-link" href="javascript:;" ng-click="searchTopic($index)">
							<p class="text-center font-weight-bold">{{trend.name}}</p>
						</a>
					</div>
				</div>
			</div>
		</div>
  </body>
</html>
