body {
	background-color:  black;
}

/*------------------------- Home ------------------------*/
.home-content {
	width:100%;
}
.home-content h1 {
	text-align:center;
	margin: 20px 0 40px 0;
}
.home-content h3 {
	text-align:center;
}
.home-content table td {
	text-align:center;
}
.home-content .container{
	max-width:100%;
}
.home-content .container h3 {
	text-align:center;
}
